{% extends 'layouts/base.html' %}

{% block title %}
Contact me !!!
{% endblock %}

{% block content %}
<h1>Contact</h1>
<br>
<form action="{{ url_for('contact')}}" method="post">

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" id="email" required>
    </div>
    <div class="form-group col-md-6">
      <label for="full_name">Full Name</label>
      <input type="text" name="full_name" class="form-control" id="full_name" required>
    </div>
    <div class="form-group col-md-2">
      <label for="whatsapp">WhatsApp</label>
      <input type="text" name="whatsapp" class="form-control" id="whatsapp">
    </div>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <input type="text" name="message" class="form-control" id="message" required>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}